Django==4.2.29
Pillow==10.4.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
django-debug-toolbar==4.4.6
ipython==8.18.1
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
openpyxl==3.1.2
reportlab==4.0.4
bcv-exchange==1.0.0
apscheduler==3.10.4
requests==2.32.3
beautifulsoup4==4.13.3